# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
datetime
matplotlib
nltk
pyvis
dash
dash_cytoscape
plotly

# tests/linter
black
coverage
flake8
pytest
yapf

# API
requests

# utilities
six>=1.14
joblib
memoized-property
termcolor