/* Layout */
:root {
  --primary: #18192e;
  --secondary: white;
  --highlights: #eda109;
}

body {
  margin: 0;
  padding: 0;
  color: var(--secondary);
  background-color: var(--primary);
  font-family: Arial, sans-serif;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Banner */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #242535;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
}

/* Brain logo */

.logo-banner {
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.logo-banner h3 {
  font-size: 1.3rem;
  font-weight: 400;
  white-space: nowrap;
  padding: 0px 15px;
}

.logo-banner img {
  display: inline;
  width: 4rem;
}

/* Title */

h1 {
  font-size: 2rem;
  text-align: center;
  padding: 30px;
}

/* Link to documentation */

.doc-link {
  border: 1px solid var(--secondary);
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 10px;
  width: 100px;
  text-align: center;
}

.doc-link:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

/* Search bar */

.search-wrapper {
  margin-bottom: 50px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loupe-img {
  width: 2rem;
  position: relative;
  left: 1.25rem;
  z-index: 2;
}

.search-bar input {
  position: relative;
  right: 1.25rem;
  /* color: white; */
  border-radius: 30px;
  border: none;
  height: 50px;
  width: 500px;
  max-width: 90%;
  font-size: 1rem;
  text-align: center;
  /* background-color: #262629; */
}

/* Footer */

footer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  margin-bottom: -2vh;
  background-color: var(--highlights);
  color: black;
  font-size: 1rem;
}

footer p {
  padding: 10px;
  margin: 5px 0px;
}

footer p:first-child {
  border-right: 2px solid black;
}

footer a {
  text-decoration: underline;
  color: black;
}

/* Default welcome section */

/* h2 {
  font-size: 2rem;
} */

.default-welcome {
  flex-grow: 1;
  min-height: 300px;
  /* height: 100%; */
  /* margin: 15px; */
  width: 95%;
  /* padding: 50px 10px; */
  /* height:67vh; */
  /* max-height:67vh; */
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.default-welcome p {
  font-size: 1.3rem;
}

/* Reset buttons cytoscapes */

.reset-button {
  order: 1;
  border: 1px solid var(--secondary);
  border-radius: 3px;
  width: 5vw;
  height: 2vh;
  text-align: center;
}

/* Dropdown menus */

.dp-access-pie {
  order: 2;
  position: relative;
  z-index: 1;
  color: black;
  width: 11vw;
  margin-left: -5vw;
}

/* Graphs */

.access-pie {
  order: 1;
  width: 40vw;
  height: 45vh;
}