/* Layout */
:root {
  --primary: rgba(5, 8, 184, 0.1);
  --secondary: white;
  --highlights: #eda109;
}

body {
  margin: 0;
  padding: 0;
  color: #F5F3F5;
  background-color: var(--primary);
  font-family: Arial, sans-serif;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Banner */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  height: 5vh;
  background-color: rgba(60, 25, 240, 0.8);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
}

/* Brain logo */

.logo-banner {
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.logo-banner h3 {
  font-size: 1.3rem;
  font-weight: 400;
  white-space: nowrap;
  margin-left: -2rem;
}

.logo-banner img {
  display: inline;
  width: 10rem;
  margin-left: -3rem;
}

/* Title */

h1 {
  font-size: 2rem;
  text-align: center;
  padding: 30px;
}

/* Link to documentation */

.doc-link {
  border: 1px solid var(--secondary);
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 10px;
  width: 100px;
  text-align: center;
}

.doc-link:hover {
  border: 1px solid #13070C;
  background-color: white;
  color: #13070C;
}

.doc-link-download {
  order: 1;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 1vw 1vw;
  margin-left: 84.5vw;
  color: black;
  font-size: 16px;
  width: 140px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-align: center;
}

.doc-link-download:hover {
  border: 1px solid #13070C;
  background-color: white;
  color: #13070C;
}

/* Search bar */

.search-wrapper {
  margin-bottom: 50px;
}

.search-wrapper h1 {
  color: #13070C;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loupe-img {
  width: 2rem;
  position: relative;
  left: 1.25rem;
  z-index: 2;
}

.search-bar input {
  position: relative;
  right: 1.25rem;
  /* color: white; */
  border-radius: 30px;
  border: none;
  height: 50px;
  width: 500px;
  max-width: 90%;
  font-size: 1rem;
  text-align: center;
  /* background-color: #262629; */
}

/* Main body */

.main-body {
  margin-bottom: 7vh;
}


/* Start Page */

.start-page {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.start-page hr {
  order: 1;
  width: 60%;
  margin-top: -14vh;
}

.start-page p {
  order: 2;
  text-align: center;
  font-size: 2.5vh;
  color: #13070C;
}

.blog-posts {
  order: 3;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
  margin-bottom: 7vh;
}

.blog-post-1 {
  order: 1;
  margin-top: 5vh;
  margin-bottom: -5vh;
}

.blog-post-2 {
  order: 2;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-bottom: -5vh;
}

.tabs-container {
  width: 85vw;
  height: 6vh;
  display: flex;
  margin-left: 15vw;
  flex-direction: column;
  margin: auto;
  align-items: center;
  text-align: center;
}

.tabs {
  height: 6vh;
  width: 87vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-left: 2rem;
}

.single-tab {
  order: 1;
  background-color: white;
  font-weight: bold;
  text-align: center;
  font-family: Arial, sans serif;
  color: black;
  border: 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin-right: 2vw;
}

.single-tab-selected {
  background-color: #fe88fc !important;
}

/* Graphs Tab 1 */

.keywords-dropdown {
  order: 1;
  margin-top: 5.5vh;
  margin-left: 0.5vw;
  margin-bottom: -5vh;
  background-color: grey;
}

.keywords-plot {
  order: 2;
  margin-bottom: 5vh;
  margin: auto;
}

.keywords-graph {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 35vh;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.accessibility-graph {
  order: 1;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 35vh;
  width: 20vw;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  align-items: center;
  background-color: white;
  margin-right: 1vw;
  margin: auto;
  margin-left: 4.5vw;
}

.fields-pie-graph {
  order: 2;
  background-color: white;
  border-radius: 5px;
  height: 35vh;
  width: 19vw;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-left: 1vw;
}

.fields-pie-and-dropdown {
  order: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.tab-1-upper-graphs {
  width: 95%;
  height: 30%;
  display: flex;
  width: 80vw;
  flex-direction: row;
  align-items: center;
  margin-top: 3vh;
  justify-content: space-evenly;
}

.active-authors-graph {
  order: 2;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin-left: 2.5vw;
}

.citations-graph {
  order: 1;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin-right: 2vw;
}

.tab-1-lower-graphs {
  width: 95%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin: auto;
  width: 80vw;
  margin-bottom: 3vh;
  justify-content: space-evenly;
}

.tab-1 {
  order: 2;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
  border-radius: 5px;
}

.tab-1-with-download {
  display: flex;
  flex-direction: column;
}

/* Cytoscape Tab 2 */

.dropdown-and-button-cyto-1 {
  order: 2;
  display: flex;
  width: 44vw;
  flex-direction: row;
  justify-content: space-between;
}

.cyto-1 {
  order: 3;
  height: 58vh;
  width: 44vw;
  margin: auto;
  margin-top: 5vh;
}

.cyto-1-and-button-container {
  order: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55vw;
  height: 65vh;
  margin-bottom: 2vh;
  float: left;
  border-radius: 5px;
}

.author-info {
  width: 95%;
  height: 90%;
  margin: auto;
  margin-left: 5vh;
  text-align: left;
}

.author-info-container {
  order: 3;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: space-around;
}

.author-info-big-container {
  order: 3;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 65vh;
  float: left;
  border-radius: 5px;
  margin: auto;
}

.tab-2 {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85vw;
  justify-content: space-between;
  min-height: 70vh;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin: auto;
  border-radius: 5px;
  margin-bottom: 3vh;
}

/* Cytoscape Tab 3 */

.cyto-2 {
  order: 2;
  height: 58vh;
  width: 80vw
}

.cyto-2-and-button-container {
  order: 1;
  width: 55vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
  border-radius: 5px;
}

.paper-info {
  width: 95%;
  height: 90%;
  margin: auto;
}

.paper-info-container {
  order: 2;
  width: 95%;
  height: 45vh;
  margin: auto;
  overflow-y: auto;
  border-radius: 5px;
}

.paper-info-big-container {
  order: 3;
  width: 30vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
  border-radius: 5px;
  margin: auto;
}

.tab-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  min-height: 70vh;
  width: 85vw;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 3vh;
}
/* Vertical line */

.vl {
  border-left: 1px solid black;
  height: 50vh;
}

/* Callbacks */

.keywords-plotly {
  width: 39vw;
  height: 35vh;
  border-radius: 5px;
}

.loading-keywords {
  width: 100vw
}

.access-pie-plotly {
  order: 1;
  border-radius: 5px;
  width: 21vw;
  height: 35vh;
}

.pub-graph-plotly {
  width: 40vw;
  height: 45vh;
  border-radius: 5px;
  margin: 5;
}

.fields-pie-plotly {
  width: 20vw;
  height: 40vh;
  border-radius: 5px;
}

.author-info-text {
  color: black;
  font-size: 3vh;
}

.author-info-text b {
  font-size: 3vh;
  color: rgba(60, 25, 240, 0.8);
}

.author-info-text span {
  font-size: 2vh;
  color: black;
}

.author-info-text a {
  font-size: 2vh;
  color: rgba(60, 25, 240, 0.8);
}

.author-info-default-text {
  order: 2;
  font-size: 2vh;
  text-align: center;
  width: 25vw;
  margin-top: -10vh;
  font-family: Courier New, monospace;
  color: rgba(3, 3, 3, 0.2);
  margin: auto;
}

.paper-info-text {
  margin: auto;
}

.paper-info-text b {
  font-size: 3vh;
  color: rgba(60, 25, 240, 0.8);
}

.paper-info-text span {
  font-size: 1.5vh;
  color: black;
}

.paper-info-text li {
  color: black;
  font-size: 1.5vh;
}

.paper-info-text a {
  font-size: 1.5vh;
  color: rgba(60, 25, 240, 0.8);
}

.paper-info-default-no-info {
  font-size: 1.5vh;
  color: rgba(60, 25, 240, 0.8);
  margin: auto
}

.paper-info-default-text {
  order: 2;
  font-size: 2vh;
  text-align: center;
  width: 25vw;
  font-family: Courier New, monospace;
  color: rgba(3, 3, 3, 0.2);
  margin-top: 20vh;
}

/* Footer */

footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  background-color: rgba(60, 25, 240, 0.8);
  color: white;
  font-size: 1rem;
}

footer p {
  padding: 10px;
  margin: 5px 0px;
}

footer p:first-child {
  border-right: 2px solid white;
}

footer a {
  text-decoration: underline;
  color: white;
}

/* Default welcome section */

/* h2 {
  font-size: 2rem;
} */

.default-welcome {
  flex-grow: 1;
  min-height: 300px;
  /* height: 100%; */
  /* margin: 15px; */
  width: 95%;
  /* padding: 50px 10px; */
  /* height:67vh; */
  /* max-height:67vh; */
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.default-welcome p {
  font-size: 1.3rem;
}

/* Reset buttons cytoscapes */

.reset-button {
  order: 1;
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 5px;
  width: 11vw;
  height: 3.5vh;
  text-align: center;
}

/* Dropdown menus */

.dp-access-pie {
  position: relative;
  border:  1px solid var(--secondary);
  border-radius: 5px;
  z-index: 5;
  color: black;
  width: 11vw;
  height: 3vh;
}

.dp-access-piie {
  position: relative;
  border:  1px solid var(--secondary);
  border-radius: 5px;
  margin-top: -5vh;
  z-index: 1;
  color: black;
  width: 11vw;
  height: 3vh;
}

/* Graphs */

.access-pie {
  order: 1;
  width: 39vw;
  height: 45vh;
}

/* Image zoom */

.zoom {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 5vh;
  margin: auto;
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}